@charset "UTF-8";

:root {
    --cor1: hsl(31, 77%, 52%);
    --cor2: hsl(184, 100%, 22%);
    --cor3: hsl(179, 100%, 13%);
    --cor4: hsla(0, 0%, 100%, 0.75);
    --cor5: hsl(0, 0%, 95%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 80px;
}

.cartao {
    height: 450px;
    width: 350px;
}

#c1 {
    background-color: var(--cor1);
    border-radius: 10px 10px 0px 0px;
}

#c1 img {
    padding-top: 50px;
    padding-left: 50px;
}

#c2 {
    background-color: var(--cor2);
}

#c2 img {
    padding-top: 50px;
    padding-left: 50px;
}

#c3 {
    background-color: var(--cor3);
    border-radius: 0px 0px 10px 10px;
}

#c3 img {
    padding-top: 50px;
    padding-left: 50px;
}

h1 {
    color: var(--cor5);
    padding-left: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
}

p {
    color: var(--cor4);
    width: 280px;
    padding-left: 50px;
    font-size: 18px;
}

button {
    width: 150px;
    height: 50px;
    border-radius: 40px;
    font-size: 16px;
    border-style: none;
    margin-left: 50px;
    margin-top: 35px;
}

#b1 {
   color: var(--cor1); 
}

#b1:hover {
    background-color: var(--cor1);
    color: var(--cor5);
    border: 2px solid white;
}

#b2 {
    color: var(--cor2);
}

#b2:hover {
    background-color: var(--cor2);
    color: var(--cor5);
    border: 2px solid white;
}

#b3 {
    color: var(--cor3);
}

#b3:hover {
    background-color: var(--cor3);
    color: var(--cor5);
    border: 2px solid white;
}